.img {
    background-color: white;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 70px;
}
h1,
h2 {
    text-align: center;
}
h2{
   font-size: 30px; 
}
.band_members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.group {
    box-shadow: 0 0 10px black;
    padding: 0.5em;
}
.image {
    display: flex;
    text-align: center;
}
img {
    max-width: 50%;
}
a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
}